/* Add your CSS styles here */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}
body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.search-container {
  position: relative;
}

#search-results {

  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-top: none;
  width: 100%;
  overflow-y: auto;
    width: 80%;          /* Increase width to take up 80% of the parent container */
       /* max-height: 500px; Set a maximum height */
    overflow-y: auto;    /* Add a scrollbar if the content exceeds the maximum height */
    font-size: 1.2em;    /* Increase font size for better readability */
    margin: 0 auto;      /* Center the div if it's within a block-level container */
    padding: 20px;       /* Add some padding around the content */
}

#search-results p {
  padding: 8px;
  margin: 0;
  cursor: pointer;
}

#search-results p:hover {
  background-color: #ddd;
}
#quoteCarousel {
    height: 2in;            /* 2 inches tall */
    overflow: hidden;       /* Hide any content that exceeds the height */
}
.carousel-inner p {
    font-size: 1.2em;
    padding: 10px 20px;
}
